 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../img/for_rent.jpg");
  background-position: 50% 50%;
  margin-top: 20px;
}

.u-section-1 .u-sheet-1 {
  min-height: 895px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 260px auto 0 251px;
}

.u-section-1 .u-text-2 {
  margin: 25px 59px -3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: url("../img/for_rent2.jpg");
  background-position: 50% 50%;
  margin-top: 20px;
}

.u-section-2 .u-sheet-1 {
  min-height: 916px;
}

.u-section-2 .u-group-1 {
  width: 526px;
  min-height: 856px;
  margin: 0 614px 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: Biryani;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 55px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    min-height: 585px;
    margin-right: 414px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 433px;
    margin-right: 194px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.77778rem;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 76.03% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-2 .u-group-1 {
    width: 411px;
    min-height: 539px;
    margin-right: 14px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 85.83% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-2 .u-group-1 {
    min-height: 533px;
    width: 302px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.27778rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 750px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-4 .u-image-1 {
  min-height: 417px;
  background-image: url("../img/seattle.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 495px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  margin: 39px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 315px;
  background-image: url("../img/note.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 30px 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}